* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  /* background: top url(../assets/img/background_image1.jpg) no-repeat, bottom url(../assets/img/background_image2.jpg) no-repeat;; */
  /* width: 100%; */
  /* background-size: 100%; */
}

.header {
  background: url(../assets/img/background_image1.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
} 

.header.container{
}

.header-wrapper{
  background-color: rgba(242, 120, 92, 0.7);
  width: 100%;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  z-index: 99;
}

.container {
  width: 1200px;
  margin: 0 auto;
}


.header-inner {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.logo-link {
  width: 216px;
  height: 31px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.nav-item + .nav-item {
  margin-left: 42px;
}



.btn {
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: #fff;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.btn-login {
  width: 103px;
  height: 41px;
}

.preview {
  padding-bottom: 301px;
  background: url(../assets/img/background_image1.jpg);
  background-repeat: no-repeat;
  background-position: center -90px;
  padding: 33px 0;
  height: 765px;
}

.preview-inner {
  width: 892px;
  height: 422px;
}

.preview-title, .preview-text {
  font-family: 'Aleo';
  font-weight: 700;
  color: #fff;
  font-family: 'Aleo';
}

.preview-title {
  font-style: normal;
  font-size: 80px;
  line-height: 96px;
  margin: 0 0 30px;
}

.preview-text {
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 46px;
}

.search {
  display: inline-flex;
  align-items: center;
}

.input-search {
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  padding: 0 41px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.btn-search {
  width: 228px;
  height: 59px;
  font-size: 24px;
  line-height: 32px;
  position: relative;
  left: -246px;
}

.section-title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.steps {
  margin-bottom: 97px;
}

.steps-title {
  margin-bottom: 40px;
}

.steps-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps-item {
  width: 317px;
  text-align: center;
}

.destinations {
  margin-bottom: 80px;  
}

.dest-inner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.steps-text {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  margin-top: 30px;
} 

.slider-img {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.dest-img {
  margin: 0 30px 24px;
}

.btn-dest, .btn-stories {
  width: 228px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.dot {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
}

.dot-active {
  background: #F2785C;
}

.dot + .dot {
  margin-left: 10px;
}

.arrow-right {
  margin-right: 10px;
}

.stories {
  background: rgba(255, 255, 255, 0.7);
}

.stories-title {
  margin-bottom: 40px;
}

.stories-inner {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  color: #0D606F;
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.story {
  display: flex;
  justify-content: space-between;
  /* flex-basis: 760px; */
}

.story + .story {
  margin-top: 30px;
}

.story-img {
  width: 400px;
  height: 250px;
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
  margin-right: 40px;
}

.story-title {
  font-size: 35px;
  line-height: 42px;
  margin: 0 0 24px;
}

.story-text {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.spoiler {
  font-weight: 700;
  text-decoration-line: underline;
}

.btn-stories {
  margin-top: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.footer-text {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 140px;
}

.rsschool-logo, .github-logo{
  height: 34px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 140px;
}